.instagram-suite-box {background : red;}

.instagram-suite-gallery {
  display: block;
  clear: both;
  font-family: freight-sans-pro, proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.instagram-suite-box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 2px; 
  background-image: url('images/noise-2.png'),-webkit-linear-gradient(top, #000 70%, #222);
  background-image: url('images/noise-2.png'),-moz-linear-gradient(top, #000 70%, #222);
  background-image: url('images/noise-2.png'),-o-linear-gradient(top, #000 70%, #222);
  background-image: url('images/noise-2.png'),-ms-linear-gradient(top, #000 70%, #222);
  background-image: url('images/noise-2.png'),linear-gradient(top, #000 70%, #222);
  
  float: left;
  margin-right: 15px;
  margin-top: 15px;
  border: 1px solid #CCC;
}