.instagram-black .instagram-suite-box {background : red;}

.instagram-suite-gallery {
  display: block;
  clear: both;
  font-family: freight-sans-pro, proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.instagram-black .instagram-suite-box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 2px; 
  background-image: url('images/noise-2.png'),-webkit-linear-gradient(top, #000 70%, #222);
  background-image: url('images/noise-2.png'),-moz-linear-gradient(top, #000 70%, #222);
  background-image: url('images/noise-2.png'),-o-linear-gradient(top, #000 70%, #222);
  background-image: url('images/noise-2.png'),-ms-linear-gradient(top, #000 70%, #222);
  background-image: url('images/noise-2.png'),linear-gradient(top, #000 70%, #222);
  
  float: left;
  margin-right: 15px;
  margin-top: 15px;
  border: 1px solid #CCC;
}


.instagram-black a.instagram-suite-infinite-scroll{
    background-color: #000000;
    -moz-border-radius: 5px; /* Firefox */  
    -webkit-border-radius: 5px; /* Safari, Chrome */  
    border-radius: 5px; /* CSS3 */  
    color: #FFFFFF;
    display: block;
    margin-top: 10px;
    text-align: center;
    width: 100%;  
}
.instagram-black a.instagram-suite-infinite-scroll:focus,a.instagram-suite-infinite-scroll:hover{
  text-decoration:none;
  background-color:#333333;
  color:#ffffff;
}
.instagram-black a.instagram-suite-infinite-scroll.load span{
  background-image: url('images/ajax-loader-black.gif');
  background-repeat:no-repeat;
  text-indent:-9999px;
  display:block;
  background-position: center center;
}
