.instagram-suite-gallery.instagram-classic {
  display: block;
  clear: both;
  font-family: freight-sans-pro, proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.instagram-classic .instagram-suite-box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
  float: left;
  margin-right: 15px;
  margin-top: 15px;
  border: 1px solid #CCC;
}

.instagram-classic .instagram-suite-box img {
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
  float: left;
}

.instagram-classic .instagram-suite-box .instagram-suite-info {
  width: 50px;
  float: left;
  -webkit-border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #1C5380;
  background-image: url('images/noise-2.png'),-webkit-linear-gradient(left, #5F8CB0, #4A7496);
  background-image: url('images/noise-2.png'),-moz-linear-gradient(left, #5F8CB0, #4A7496);
  background-image: url('images/noise-2.png'),-o-linear-gradient(left, #5F8CB0, #4A7496);
  background-image: url('images/noise-2.png'),-ms-linear-gradient(left, #5F8CB0, #4A7496);
  background-image: url('images/noise-2.png'),linear-gradient(left, #5F8CB0, #4A7496);
}

.instagram-classic .instagram-suite-box .instagram-suite-info .likes,
.instagram-classic .instagram-suite-box .instagram-suite-info .comments {
  border-bottom: 1px solid #1C5380;
  background-image: url('images/photo-page-assets.png');
  height: 30px;
  padding: 35px 10px 0px;
  text-align:center;
}

.instagram-classic .instagram-suite-box .instagram-suite-info .likes span,
.instagram-classic .instagram-suite-box .instagram-suite-info .comments span{
  background-color: #1C5380;
  color: #FFF;
  padding: 2px 8px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  font-family: 'freight-sans-pro', 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 12px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2) inset;
  white-space: nowrap;
}

.instagram-classic .instagram-suite-box .instagram-suite-info .likes {
  background-position: 5px 1px;
  
}

.instagram-classic .instagram-suite-box .instagram-suite-info .likes:hover {
  background-position: -95px 1px;
  background-color: rgba(255,255,255,0.1);
}

.instagram-classic .instagram-suite-box .instagram-suite-info .comments:hover {
  background-position: -95px -100px;
  background-color: rgba(255,255,255,0.1);
}

.instagram-classic .instagram-suite-box .instagram-suite-info .comments {
  background-position: 5px -100px;
  
}

.clear {clear: both;}


.instagram-classic a.instagram-suite-infinite-scroll{
    background-color: #7197B7;
    -moz-border-radius: 5px; /* Firefox */  
    -webkit-border-radius: 5px; /* Safari, Chrome */  
    border-radius: 5px; /* CSS3 */  
    color: #FFFFFF;
    display: block;
    margin-top: 10px;
    text-align: center;
    width: 100%;  
}
.instagram-classic a.instagram-suite-infinite-scroll:focus,a.instagram-suite-infinite-scroll:hover{
  text-decoration:none;
  background-color:#6E94B4;
  color:#ffffff;
}
.instagram-classic a.instagram-suite-infinite-scroll.load span{
  background-image: url('images/ajax-loader-classic.gif');
  background-repeat:no-repeat;
  text-indent:-9999px;
  display:block;
  background-position: center center;
}
